menu "ESPIR Configuration"

config ESPIR_SLOT_COUNT
    int "Number of IR storage slots"
    default 32
    range 1 64

config ESPIR_IR_TX_GPIO
    int "SZHJW transmitter DAT GPIO"
    default 6

config ESPIR_IR_RX_GPIO
    int "VS1838B receiver OUT GPIO"
    default 4

config ESPIR_LEARN_TIMEOUT_MS
    int "Learn-mode timeout (ms)"
    default 15000

endmenu
